@import url(https://fonts.googleapis.com/css?family=Quicksand);

header{
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #7d4627;
    text-align: center;
}

footer{
    font-family: 'Quicksand', sans-serif;
    color: #edd9c0;
    text-align: right;
    padding: 20px;
    position: relative;
    clear: both;
}

body{
    background-image: url("../background.jpg");
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    text-align: center;

    }

a{
    color: #7d4627;
    font-weight: bold;
}

h1{
    color: #edd9c0;
    padding: 20px;
    font-weight: bold;
}

h3{
    color: #7d4627;
    margin-bottom: 25px;
}
h4, p{
    font-size: 24px;
    color: #edd9c0;
    margin-bottom: 25px;
}

button{
    margin: 15px;
}

input{
    text-align: center;
}

.img {
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border:  #c0dfd9 solid 5px;
    border-radius: 50%;
    }


.picBox{
  float: left;
  margin: 20px;
  text-align: center;

}

.text {
	color: white;
}   

#page-wrap {
    margin-top: 50px;
    float: right;
    padding: 20px;
    background-color: #c0dfd9;
}

.form{
    float: center;
    font-size: 24px;
    text-align: center;
    max-width: 60%;
    color: #7d4627;
    clear: right;
    position: relative;
}

.weather-form{
    margin-left: 25%;
    margin-right: 25%;
    float: center;
}

#nav-wrapper {
    text-align: left;
    padding: 10px;
    width: 100%;
    background-color: #c0dfd9;
}